-# Please! Make me work. I do not want to be static anymore. :(
h2 Recent Activity
h4 #{current_player.username.humanize} Played Multiplayer  Co-Op with john458
p 17:51 July 9 2014
h4 #{current_player.username.humanize} Played Multiplayer Co-Op with Freddy, Mooseduck-09 and Johnny.
p 17:13 July 9 2014
h4 #{current_player.username.humanize} Played Multiplayer Deathmatch with Freddy and Johnny.
p 17:02 July 9 2014